

<%= @avg_month_prices  %><br>
<%= @m1  %><br>
<%= @m2  %><br>

<div id="parent"><table><%= high_chart("chart", @states_chart) %></table></div>

<div id="parent"><table><%= high_chart("prices", @prices_chart) %></table></div>
