<div id="parent"><table><%= high_chart("prices", @prices_chart) %></table></div>
<div id="parent"><table><%= high_chart("chart", @chart) %></table></div>
<div id="parent"><table><%= high_chart("chart2", @chart2) %></table></div>
<div id="parent"><table><%= high_chart("chart3", @chart3) %></table></div>
<div id="parent"><table><%= high_chart("chart4", @chart4) %></table></div>
