<% @sorted_posts.each do |post| %>
	<table class="posts">
		<tr class="even">
			<td class="content" rowspan="2" width="100px">
				<%= link_to image_tag(post.user.normalimage), post.user %>
			</td>
			<td colspan="6" class="content">
				<% unless post.image.url == "/images/original/missing.png" %>
					<%= image_tag post.image.url(:large) %><br>
				<% end %>
				<%= post.content %>
			</td>
		</tr>
		<tr class="odd">
			<% if post.price %>
				<td class="info">
					$<%= post.price ? post.price.cost : ""  %>
				</td>
			<% end %>
			<% if post.strain %>
				<% if post.strain.name.parameterize == "unknown" %>
					<td class="info">
						<%= link_to post.strain.name.titleize, graphs_path %>
					</td>
				<% else %>
					<td class="info">
						<%= link_to post.strain.name.titleize, show_path( :s_slug => post.strain.name.parameterize ) %>
					</td>
				<% end %>
			<% end %>
			<% unless post.region.name.blank? == true %>
				<td class="info"><%= post.region %></td>
			<% end %>
			<td colspan="2" class="info" id="button"><%= time_ago_in_words(post.created_at) %> ago
				<% if user_signed_in? %>
					<%= link_to "| Comment", comment_show_path(:post_id=>post.id), :class=>"button", :remote => true %> 
				<% end %>
			<% if @user == current_user %>
					<%= link_to 'Delete |', {:controller=>:posts, :action=>:destroy, :id=>post.id}, :method=>:delete, :class=>"button" %>
				</td>
			<% else %>
				<% unless post.liked_by?(current_user) %>
					<td class="info">
						<%= link_to 'Like', post_like_path(:post_id=>post.id), method: :post, :class=>"button" %>
					</td>
				<% else %>
					<td class="info">
						<%= link_to 'Unlike', post_unlike_path(:post_id=>post.id), method: :post, :class=>"button" %>
					</td>
				<% end %>
			<% end %>
		</tr>
	</table>
	<div id="comment_bar_<%= post.id %>">

	</div>
	<% post.comments.each do |c| %>
		<table class="posts">
			<tr class="even">
				<td id="avatar" class="content" width="50px" rowspan="2" colspan="1">
					> <%= link_to image_tag(c.user.smallimage), c.user %>
				</td>
				<td colspan="5" class="content">
				<% unless c.image.url == "/images/original/missing.png" %>
					<%= image_tag c.image.url(:large) %><br>
				<% end %>
					<%= c.content %>
				</td>
			</tr>
			<tr class="odd">
				<td class="info" colspan="5" id="button">
					<%= time_ago_in_words(post.created_at) %> ago 
					<% if c.user == current_user %>
						<%= link_to '| Delete', {:controller=>:comments, :action=>:destroy, :id=>c.id}, :method=>:delete, :class=>"button"%>
					<% else %>
						<% unless c.liked_by?(current_user) %>
								<%= link_to 'Like', comment_like_path(:comment_id=>c.id), method: :post, :class=>"button" %>
						<% else %>
								<%= link_to 'Unlike', comment_unlike_path(:comment_id=>c.id), method: :post, :class=>"button" %>
						<% end %>
					<% end %>
					<%= link_to "Reply |", reply_show_path(:comment_id=>c.id), :class=>"button", :remote => true %> 
				</td>
			</tr>
		</table>
		<div id="reply_bar_<%= c.id %>">
		</div>
		<% c.replies.each do |reply| %>
			<table class="posts">
				<tr class="even">
					<td id="avatar" class="content" width="50px" rowspan="2">
						>> <%= link_to image_tag(reply.user.smallimage), reply.user %>
					</td>
					<td colspan="5" class="content" id="reply">
					<% unless reply.image.url == "/images/original/missing.png" %>
						<%= image_tag reply.image.url(:large) %><br>
					<% end %>
						<%= reply.content %>
					</td>
				</tr>
				<tr class="odd">
					<td colspan="5" class="info" id="button">
						<%= time_ago_in_words(post.created_at) %> ago
						<% if reply.user == current_user %>
								<%= link_to 'Delete', {:controller=>:replies, :action=>:destroy, :id=>reply.id}, :method=>:delete, :class=>"button"%>
						<% else %>
							<% unless reply.liked_by?(current_user) %>
									<%= link_to 'Like', reply_like_path(:reply_id=>reply.id), method: :post, :class=>"button" %>
							<% else %>
									<%= link_to 'Unlike', reply_unlike_path(:reply_id=>reply.id), method: :post, :class=>"button" %>
							<% end %>
						<% end %>
					</td>
				</tr>
			</table>
		<% end%>
	<% end %>	
	<br>
<% end %>
