<div id="wrapper">
	<div id="leftcolumnwrap">
        <div id="leftcolumn">
			<div id="user_image_div">
				<table id="user_image_table">
					<tr class="odd">
						<td>
							<%= image_tag @user.largeimage %>
							<h3><%= @user.name.titleize %></h3>
							<% unless current_user.follows?(@user)%>
								<%= link_to "Follow", user_follow_path(:user_id => @user.id), :method => :post %>
							<% else %>
								<%= link_to "Unfollow", user_unfollow_path(:user_id => @user.id), :method => :post %>
							<% end %>
							<br>
						</td>
					</tr>
				</table>
				<br>
				<div id="rightcontentwrap">
					<div id="user_friends">
						<%= render "users/friends" %>
					</div>
				</div>
			</div>
        </div>
	</div>
    <div id="contentwrap">
        <div id="user_content">
			<% if @user == current_user %>
				<div>
					<%= render "users/form" %>
				</div>
			<% end %>
			<br>
			<div>	
				<%= render "users/posts" %>
			</div>
        </div>
    </div>
</div>

