<%= form_for(@price) do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>

    <div class="field">	
      <%= f.label :strain %><br>
      <%= f.select :strain_id, options_for_select(@strains.map{ |s| [s.name, s.id]}) %>
   </div>

  <div class="field">	
    <%= f.label :region %><br>
    <%= f.select :region_id, options_for_select(@regions.map{ |r| [r.name, r.id]}) %>
   </div>
   <br>   
       
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

