<%= form_for(@price) do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="center">
  <table>
    <tr>
      <th>
        <div class="field">
          <%= f.label 'Price' %>:
          <%= f.text_field :cost %>
        </div>
      
          <div class="field">	
            <%= f.label :strain %>:
            <%= f.select :strain_id, options_for_select(@strain_options) %>
         </div>
      
        <div class="field">	
          <%= f.label :region %>:
          <%= f.select :region_id, options_for_select(@region_options) %>
         </div>
   
                  
        <div class="field">
          <%= f.label 'Position' %>:
          <%= f.select :position, options_for_select(1..@prices.count) %>
        </div> 
         
        <div class="actions">
          <%= f.submit %>
        </div>
      </th>
    </tr>
  </table>
</div>
<% end %>


