<%= form_for(@price) do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>

<div class="field">
    <%= f.label :strain %><br>
    <%= f.fields_for @price.strain.build do |strain_form| %>
    <%= f.select(:strain_id, @strain_options) %>
</div>
  
<div class="field">	
    <select name="region_id">
      <%= f.label :region %><br>
      <%= @regions.each do |region| %>
        <option value="<%= region.id %>"><%= region.name %></option>
      <% end %>
    </select>
    </div>
    
    
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

