<p id="notice"><%= notice %></p>

<div id="parent">
  <table>
    <tr>
      <td>
        <%= render 'form' %>
      </td>
    </tr>
  </table>
</div>

        <img src="https://developer.leafly.com/images/assets/pbl-white.png" align="right"> 

<br>
<br>
<div class="prices index" id="parent2">
  <table class="listing" summary="Prices list">
      <tr class="header">
          <th class="center"><%= sortable "position", "Pos" %></th>
          <th class="center"><%= sortable "cost", "Price" %></th>
          <th class="center"><%= sortable "strain_id", "Strain" %></th>  
          <th class="center"><%= sortable "region_id", "Region" %></th>
          <th class="center"><%= sortable "created_at", "Created" %></th>
          <th class="center">Actions</th>
      </tr>
      
      <% @prices.each do |price| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= price.position %></td>
          <td class="center">$<%= price.cost %></td>
          <td class="center"><%= link_to price.strain.name.titleize, price.strain %></td>
          <td class="center"><%= link_to price.region, price.region %></td>
          <td class="center"><%= time_ago_in_words(price.created_at) %> ago</td>
          <td class="actions">
            <%= link_to 'Show', price, :class => 'action show' %>
            <%= link_to 'Edit', edit_price_path(price), :class => 'action edit' %>
            <%= link_to 'Destroy', price, :class => 'action destroy', method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>

  </table>
  
  <%= will_paginate @prices %>
  
  </div>
  <br>
<img src="https://developer.leafly.com/images/assets/pbl-white.png" align="right">  