

<div id="parent">
  <table class="parent2">
    <tr class="center">
      <td class="center">
        <%= render 'form' %>
      </td>
    </tr>
  </table>
</div>

<br>
<br>
<div class="prices index" id="parent2">
  <table class="listing" summary="Prices list">
      <tr class="header">
          <th class="center"><%= sortable "position", "Pos" %></th>
          <th class="center"><%= sortable "cost", "Price" %></th>
          <th class="center"><%= sortable "strain_id", "Strain" %></th>  
          <th class="center"><%= sortable "region_id", "Region" %></th>
          <th class="center"><%= sortable "created_at", "Created" %></th>
          <th class="center">Actions</th>
      </tr>
      
      <% @prices.each do |price| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= price.position %></td>
          <td class="center">$<%= price.cost %></td>
          <% if price.strain.name.parameterize == "unknown" %>
            <td class="center"><%= link_to price.strain.name.titleize, graphs_path %></td>
          <% else %>
            <td class="center"><%= link_to price.strain.name.titleize, show_path( :s_slug => price.strain.name.parameterize ) %></td>
          <% end %>
          <td class="center"><%= link_to price.region, price.region %></td>
          <td class="center"><%= time_ago_in_words(price.created_at) %> ago</td>
          <td class="actions">
            <%= link_to 'Show', price, :class => 'action show' %>
            <%= link_to 'Find Near Me', price, :class => 'action show' %>
          <% if price.strain.name.parameterize == "unknown" %>
            <%= link_to 'Info', graphs_path, :class => 'action show' %>
          <% else %>
            <%= link_to 'Info', price.strain, :class => 'action show' %>
          <% end %>
          </td>
          </tr>
        <% end %>

  </table>
  
  </div>
  
   <%= will_paginate @prices %>
  <br>
<img src="https://developer.leafly.com/images/assets/pbl-white.png" align="right">  