<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @price.cost %><br />
  <strong>Strain:</strong>
  <%= link_to @price.strain.name.titleize, @price.strain %><br />
  <strong>Region:</strong>
  <%= link_to @price.region, @price.region %><br />  
</p>

<%= link_to 'Home', prices_path, :class => 'action show'  %>
