<div align="center">
	<%= form_for(@price) do |f| %>
  
    <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>
      <ul>
      <% @price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div id="parent">
      <table>
        <tr>
          <td>
            <b>Add New Pricing Data Here:</b>
          </td>
          <td>
            <div>
              <b><%= f.label 'Price' %>:</b>
              <%= f.number_field :cost, min: 0, max: 999 %>
              
            </div>
          </td>
          <td> 
            <div>	
                <b><%= f.label :region %>:</b>
                <%= f.select :region_id, options_for_select(@region_options) %>
              </div>
            </td>
				<%= f.hidden_field :strain_id, :value => strain.id %>
				<% if user_signed_in? %> 
					<%= f.hidden_field :user_id, :value => current_user.id %>
				<% end %>
            <td> 
              <div>
                <b><%= f.label :rating %>:</b>
                <%= f.select :rating, options_for_select(1..10), :value => 10 %>
              </div>
            </td> 
            <td> 
              <div class="action">
                <%= f.submit %>
              </div>
            </td>
         </tr>
      </table>
    </div>

<% end %>
	
</div>

