  <table class="listing" summary="Strains list">
      <tr class="header">
        <th class="center" colspan="1">Name</th>
        <th class="center" colspan="1">Category</th>
        <th class="center" colspan="1">Rating</th>
        <th class="center" colspan="1">Conditions</th>
        <th class="center" colspan="1">Flavors</th>
        <th class="center" colspan="1">Tags</th>
        <th class="center" colspan="1">Negative Effects</th>
        <th class="center" colspan="1">Actions</th>
      </tr>
      <% @strain_results.each do |s| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= s['Name'] %></td>
          <td><%= link_to s['Category'], search_leafly_path( :s_categories => s['Category'].parameterize ), { :method => "POST" } %></td>
          <td><%= s['Rating'] %></td>
          <% conds = s['Conditions'] %>
          <td>
            <% conds.each do |c| %>
              <%= link_to c['Name'], search_leafly_path( :s_conditions => c['Name'].parameterize ), { :method => "POST" } %>, 
            <% end %>
          </td>
          <% flavs = s['Flavors'] %>
          <td>
            <% flavs.each do |f| %>
              <%= link_to f['Name'], search_leafly_path( :s_flavors => f['Name'].parameterize ), { :method => "POST" } %>, 
            <% end %>
          </td>
          <% tags = s['Tags'] %>
          <td>
            <% tags.each do |t| %>
              <%= link_to t['Name'], search_leafly_path( :s_tags => t['Name'].parameterize ), { :method => "POST" } %>, 
            <% end %>
          </td>
          <% eff = s['NegativeEffects'] %>
          <td>
            <% eff.each do |e| %>
              <%= link_to e['Name'], search_leafly_path( :s_effects => e['Name'].parameterize ), { :method => "POST" } %>,  
            <% end %>
          </td>
          <td>
              
        <% end %>
     </tr>
  </table>

