<%= form_tag search_leafly_path do %>

        Name:
        <%= text_field_tag :s_slug, params[:search_leafly] %>
        Category:
        <%= select_tag :s_categories, options_for_select(["", "hybrid", "indica", "sativa"], @categories) %>
        Flavors:
        
            <%= select_tag :s_flavors, options_for_select(@flavor_options, @flavors) %>
        
        Conditions:
        
            <%= select_tag :s_conditions, options_for_select(@condtion_options, @conditions) %>
        
        Symptoms:
        
            <%= select_tag :s_symptoms, options_for_select(@symptoms_options, @symptoms) %>
                                                             
        Effects:
        
            <%= select_tag :s_effects, options_for_select(@tag_options, @tags) %>
        
        <%= submit_tag "Search", :name => nil %>
    </table>
<% end %>
