<%= form_tag search_leafly_path do %>
    <table>
		<tr class="odd">
			<th>
	        		Name
			</th>
			<th>
					Category
			</th>
			<th>
					Flavors
			</th>
			<th>
					Conditions
			</th>
			<th>
					Symptoms
			</th>
			<th>
					Effects
			</th>
		</tr>
		<tr class="even">
			<td>
		        <%= text_field_tag :s_slug, params[:s_slug] %>
			</td>
			<td>    
		        <%= select_tag :s_categories, options_for_select(["", "hybrid", "indica", "sativa"], @categories) %>
			</td>
			<td>    
        
		        <%= select_tag :s_flavors, options_for_select(@flavor_options, @flavors) %>
        
			</td>
			<td>    
        
		        <%= select_tag :s_conditions, options_for_select(@condtion_options, @conditions) %>
        
			</td>
			<td>
        
		        <%= select_tag :s_symptoms, options_for_select(@symptoms_options, @symptoms) %>
                                                             
			</td>
			<td>    
        
		        <%= select_tag :tags, options_for_select(@tag_options, @tags) %>
			</td>
			<td>
		        <%= submit_tag "Search" %>
			</td>
		</tr>
    </table>
<% end %>
