<p id="notice"><%= notice %></p>
<div class="strain index" align="center">
  <div id="background">
    <table>
      <tr>
        <td>
          <%= render 'search_form' %>
        </td>
      </tr>
    </table>
  </div>
  <br><br>
  


  <%= link_to 'Home', prices_path, :class => 'action show' %>

</div>


  


<%= @slug %><br><br>
<%= @conditions %><br><br>
<%= @flavors %><br><br>
<%= @categories %><br><br>
<%= @symptoms %><br><br>
<%= @tags %><br><br>



   <img src="https://developer.leafly.com/images/assets/pbl-white.png" align="right">