<p id="notice"><%= notice %></p>
<div class="strain index">
  <div id="parent">
    <table>
      <tr>
        <td>
          <%= render 'search_form' %>
        </td>
      </tr>
    </table>
  </div>
<br><br>


<div id="parent2"><%= render 'search_results' %></div>


  <br>
	<% if @page.to_i > 0 %>
	  <%= link_to 'Previous Page', search_leafly_path( :s_slug => @slug,
													   :s_conditions => @conditions,
													   :s_flavors => @flavors, 
													   :s_categories => @categories,
													   :s_symptoms => @symptoms, 
													   :s_tags => @tags, 
													   :s_page => (@page.to_i - 1)), 
													   { :class => 'action show', :method => "POST" } %>
	  <%= link_to 'Next Page', search_leafly_path(:s_slug => @slug, 
												  :s_conditions => @conditions, 
												  :s_flavors => @flavors, 
												  :s_categories => @categories, 
												  :s_symptoms => @symptoms, 
												  :s_tags => @tags, 
												  :s_page => (@page.to_i + 1)), 
												  { :class => 'action show', :method => "POST" } %>
	<% else %>
	  <%= link_to 'Next Page', search_leafly_path(:s_slug => @slug, 
												  :s_conditions => @conditions, 
												  :s_flavors => @flavors, 
												  :s_categories => @categories, 
												  :s_symptoms => @symptoms, 
												  :s_tags => @tags, 
												  :s_page => (@page.to_i + 1)), 
												  { :class => 'action show', :method => "POST" } %>
	<% end %>

</div>
<br><br>


   <img src="https://developer.leafly.com/images/assets/pbl-white.png" align="right">