<div class="price index">

<div>
  <div align="center" vertical-align="middle">
    <td align="right">
            <div id="parent" class="center" align="right">
              <table class="listing" summary="related">
                <tr class="header">
                  <th class="center" colspan="2">Parents</th>
                </tr>
                  <% @parents.each do |parent| %>
                    <tr class="<%= cycle('odd', 'even') %>">
                      <td class="center"><%= link_to parent['name'], show_path( :s_slug => parent['name'].parameterize )%></td>
                        <td><%= link_to parent['category'], search_leafly_path( :s_categories => parent['category'].parameterize ), { :method => "POST" } %></td>
                    </tr>
                  <% end %>
                </table>
             </div>
         </td>
    </div>
    <br>
    <div id="parent" class="center" align="center">
      <table class="center" summary="flavors">
        <tr class="header">
          <th class="center">Flavors</th>
              </tr>
              <% @flavors.each do |flavor| %>
                <tr class="<%= cycle('odd', 'even') %>">
                  <td class="center"><%= flavor['name'] %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </td>
        <td>
          <div id="parent" class="center" align="center">
            <table class="listing" summary="effects">
              <tr class="header">
                <th class="center">Effects</th>
              </tr>
              <% @effects.each do |effect| %>
                <tr class="<%= cycle('odd', 'even') %>">
                  <td class="center"><%= effect['name'] %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </td> 
        <td>  
          <div id="parent" class="center" align="center">
            <table class="listing" summary="symptoms">
              <tr class="header">
                <th class="center">Symptoms</th>
              </tr>
              <% @symptoms.each do |symptom| %>
                <tr class="<%= cycle('odd', 'even') %>">
                  <td class="center"><%= symptom['name'] %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </td>
        <td> 
          <div id="parent" class="center" align="center">
            <table class="listing" summary="conditions">
              <tr class="header">
                <th class="center">Conditions</th>
              </tr>
              <% @conditions.each do |condition| %>
                <tr class="<%= cycle('odd', 'even') %>">
                  <td class="center"><%= condition['name'] %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </td>
          <td>
            <div id="parent" class="center" align="center">
              <table class="listing" summary="related">
                <tr class="header">
                  <th class="center" colspan="2">Related Strains</th>
                </tr>
                  <% @relatedstrains.each do |relatedstrain| %>
                    <tr class="<%= cycle('odd', 'even') %>">
                      <td class="center"><%= relatedstrain['name'] %></td>
                      <td class="center"><%= relatedstrain['category'] %></td>
                    </tr>
                  <% end %>
              </table>
            </div>
          </td>
      </tr>
  </div>
</div>
<br>
<br>

<div id="parent" class="center" align="center">
  <table class="center" summary="strain description">
    <tr class="header">
      <th class="center">Description</th>
    </tr>
    <tr class="even">
      <td><%= @description.html_safe %></td>
    </tr>
  </table>
</div>

<br>
<br>

<div id="parent" class="center" align="center">
  <table class="center" summary="strain reviews">
    <tr class="header">
      <th class="center">Reviews</th>
    </tr>
    <% @reviews.each do |review| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class="center"><%= review['text'].html_safe %><br> - by <%= review['username'] %></td>
    </tr>
    <% end %>
  </table>
</div>

<br>

 



<br>
 <div id="parent">
  <table class="center">
    <tr class="center">
      <% 1.times do |p| %>
        <% photo2 = @leaflyphotos[p] %>
        <td class="center"><img src="<%= photo2['fullsize'].html_safe %>" id="full"></td>
      <% end %>
    </tr>
    <tr class="center">
      <td class="center">
        <% @leaflyphotos.count.times do |p| %>
          <% photo = @leaflyphotos[p] %>
          <a href="<%= photo['fullsize'] %>"><img src="<%= photo['thumb'].html_safe %>"></a>
        <% end %>
      </td>
    </tr>
    <tr class="center">
      <td class="center"><img src="<%= @testgraph %>" id="half"></td>
    </tr>   
  </table>
</div>

<br>


<%= link_to 'Home', prices_path, :class => 'action show' %>

  
<!--  <%= @leafly %>  ...-->
  

<img src="https://developer.leafly.com/images/assets/pbl-white.png" align="right">