<p id="notice"><%= notice %></p>
<div class="strain index">
  <h2>Listing Strains</h1>
  
  <table class="listing" summary="Strains list">
      <tr class="header">
        <th colspan="1">Name</th>
        <th colspan="1">Average</th>
        <th colspan="1">Highest</th>
        <th colspan="1">Lowest</th>
      </tr>

      <% @strains.each do |strain| %>
        <tr  class="<%= cycle('odd', 'even') %>">
          <td><%= link_to strain.name, strain %></td>
          <td class="center">$<%= strain.prices.average(:cost).to_i %></td>
          <td class="center">$<%= strain.prices.maximum(:cost).to_i %></td>
          <td class="center">$<%= strain.prices.minimum(:cost).to_i %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'Back', prices_path %>
  
</div>