<p id="notice"><%= notice %></p>
<div class="strain index">
  <h2>Listing Strains</h1>
  
  
  <%= form_tag strains_path, :method => 'get' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

  <table class="listing" summary="Strains list">
      <tr class="header">
        <th colspan="1"><%= sortable "name", "Name" %></th>
        <th colspan="1"><%= sortable "Average" %></th>
        <th colspan="1"><%= sortable "Highest" %></th>
        <th colspan="1"><%= sortable "Lowest" %></th>
      </tr>

      <% @strains.each do |strain| %>
        <tr  class="<%= cycle('odd', 'even') %>">
          <td><%= link_to strain.name, strain %></td>
          <td class="center">$<%= strain.prices.average(:cost).to_i %></td>
          <td class="center">$<%= strain.prices.maximum(:cost).to_i %></td>
          <td class="center">$<%= strain.prices.minimum(:cost).to_i %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
    <%= will_paginate @strains %>
    
  <br>
  
  <%= link_to 'Back', prices_path %>
  
</div>