<p id="notice"><%= notice %></p>
<div class="strain index">

    <%= form_tag strains_path, :method => 'get' do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
    <% end %>
    
<br>

<div id="parent2"><%= render 'strains' %></div>
  
    <%= will_paginate @strains %>
    
  <br>
  
  <%= link_to 'Back', prices_path, :class => 'action show' %>
  
  <br>

  
</div>

<img src="https://developer.leafly.com/images/assets/pbl-white.png" align="right">