<div class="price index">
    <table>
      <td>
    	 <h2><%= @strain.name.titleize %></h2>
      </td>
  	<td>
  		<h2>
  		<% unless current_user.follows?(@strain)%>
  			<%= link_to "Follow", strain_follow_path(:strain_id => @strain.id), :method => :post %>
  		<% else %>
  			<%= link_to "Unfollow", strain_unfollow_path(:strain_id => @strain.id), :method => :post %>
  		<% end %>
  		</h2>
  	</td>
    </table>
	<br>
    <div id="parent2">  	
      <table class="listing" summary="strain summary">
          <tr class="header">
            <th class="center" colspan="1">Average Price</th>
            <th class="center" colspan="1">Highest Price</th>
            <th class="center" colspan="1">Lowest Price</th>
          </tr>
    
            <tr  class="<%= cycle('odd', 'even') %>">
              <td class="center">$<%= average_strain(@strain) %></td>
              <td class="center">$<%= @strain.prices.maximum(:cost).to_i %></td>
              <td class="center">$<%= @strain.prices.minimum(:cost).to_i %></td>
            </tr>
      </table>
    </div>
  <br>
<div id="parent2">
  <table class="listing" summary="strain prices">
    <tr class="header">
      <th class="center">Price</th>
      <th class="center">State</th>
      <th class="center">Time</th>
    </tr>
   
   	<% @strain.prices.each do |price| %> 
      <tr class="<%= cycle('odd', 'even') %>">
        <td class="center">$<%= price.cost %></td>
        <td class="center"><%= link_to price.region, price.region %></td>
        <td class="center"><%= time_ago_in_words(price.created_at) %> ago</td>
      </tr>
    <% end %>
  </table>
</div>
<br>
	<div>
		<%= render "add_price_to_strain" %>
	</div>
<br>
<br>


<%= link_to 'Home', prices_path, :class => 'action show' %>

  
<!--  <%= @leafly %>  ...-->
  

<img src="https://developer.leafly.com/images/assets/pbl-white.png" align="right">