<%= form_tag locations_path do %>

        Strain:
		<% if params.has_key?(:s_slug) %>
        	<%= text_field_tag :s_slug, params[:s_slug].titleize %>
		<% else %>
			<%= text_field_tag :s_slug, params[:s_slug] %>
		<% end %>
        Address:
		<%= text_field_tag :address, params[:address] %>
		(eg. 'Los Angeles, CA', '1234 Road Dr., San Francisco, CA')
        <%= submit_tag "Search" %>
    </table>
<% end %>
