<!DOCTYPE html>
<html>
  <head>
    <title>BUDSTER</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'highcharts', 'jquery-1.11.3.min.js', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
	  <div align="left" style="
	      padding-left: 50px;
	      padding-top:  15px;
	      width: 33%">
    	  <h1> BUDSTER </h1> 
	  </div>
	  <div>
    	  <%= render(:partial => 'layouts/navigation') %>
	  </div>
  </div>
  <div id="main">
    
    <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div id="content">
      <%= yield %> 
    </div>
  </div>


</body>
</html>
